:root {
  --primary-color: #32a859;
  --secondary-color: #00892e;

  --primary-bg-color: rgba(50, 168, 89, 0.8);
  --secondary-bg-color: rgba(50, 168, 89, 0.9);
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  list-style-type: none;
  transition: all 0.3s linear;
  text-decoration: none;
}

/* ========= Global =========== */

h1 {
  font-size: 4.5rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 2.5rem;
}
.text-green {
  color: var(--primary-color);
}

.img-hover,
.img-hover:hover {
  transition: all 0.5s ease;
}

.img-hover:hover {
  transform: scale(1.03);
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 576px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
}

/* ========= Btn =========== */
#green-btn {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

#green-btn {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

/* ========= Hero =========== */
.carousel-item1 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.4)
    ),
    url("../../public/Images/header-img1.jpg");
}

.carousel-item2 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.4)
    ),
    url("../../public/Images/header-img2.jpg");
}

.carousel-item3 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.4)
    ),
    url("../../public/Images/header-img3.jpg");
}

.carousel-item1,
.carousel-item2,
.carousel-item3 {
  background-size: cover;
  background-position: center;
}

@media screen and(max-width:992px) {
  .carousel-item1 {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("../../public/Images/header-img1.jpg");
  }

  .carousel-item2 {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("../../public/Images/header-img2.jpg");
  }

  .carousel-item3 {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url("../../public/Images/header-img3.jpg");
  }
}

/* ========= Search Form =========== */
.search-form {
  position: absolute;
  width: 75%;
  background-color: var(--primary-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 992px) {
  .search-form {
    position: relative;
    width: 90%;
    transform: translate(-55.9%, 0%);
  }
}

/* ========= Holiday Card =========== */
.last-holidays-section .h5 {
  font-size: 1.5rem;
}
.last-holidays-section a {
  font-size: 1.1rem;
}

/* ========= Recommended =========== */
.recommended-section h3 {
  font-size: 1.5rem;
}

.recommended-section .container {
  background-position: center;
  background-size: cover;
}

.recommended-section .container .bg-shape {
  background-color: var(--secondary-bg-color);
  background-size: cover;
  width: 25%;
  bottom: 0;
  top: 0;
  right: 0;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.home-page .recommended-section .container {
  background-image: url("../../public/Images/recommended-section-bg.jpg");
}

@media (max-width: 992px) {
  .recommended-section .container .bg-shape {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .recommended-section .container .bg-shape {
    width: 100%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }
}

/* ========= Holiday =========== */
.holiday-plan-section {
  height: 500px;
  background-position: bottom;
  background-size: cover;
}

.home-page .holiday-plan-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    url("../../public/Images/holiday-plan-bg.jpg");
}

/* ========= Favorites =========== */
.favorites-section .spa-div {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    url("../../public/Images/spa.jpg");
}
.favorites-section .pool-div {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    url("../../public/Images/pool.jpg");
}
.favorites-section .pet-friendly-div {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    url("../../public/Images/pet-friendly.jpg");
}
.favorites-section .all-inclusive-div {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
    url("../../public/Images/all-inclusive.jpg");
}

.favorites-section .spa-div,
.favorites-section .pool-div,
.favorites-section .pet-friendly-div,
.favorites-section .all-inclusive-div {
  background-position: center;
  background-size: cover;
  height: 500px;
}

/* ========= Footer =========== */
footer {
  text-align: center;
  font-size: 1rem;
}
footer .footer-name {
  color: var(--primary-color);
  font-weight: bold;
}
